In [1]:
#import library yang dibuthkan
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()

import numpy as np
import pandas as pd

In [2]:
#panggil_data
df = pd.read_csv('text_labelin.csv')
df.head()

                                                text
0  belonging to a motorbike, feeling the impact o...
1  the support of economic indicators rises in fu...
2  the autobus business monitors the selling pric...
3  the impact of rising fuel prices, Sandiaga Uno...
4  visited the kutat gas station after the increa...

In [3]:
#proses pengskoran/pembobotan kata

sid.polarity_scores(df.loc[0]['text'])
df['scores'] = df['text'].apply(lambda x : sid.polarity_scores(x))
df

,text,scores
0,"belonging to a motorbike, feeling the impact o...","{'neg': 0.0, 'neu': 0.861, 'pos': 0.139, 'comp..."
1,the support of economic indicators rises in fu...,"{'neg': 0.0, 'neu': 0.642, 'pos': 0.358, 'comp..."
2,the autobus business monitors the selling pric...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
3,"the impact of rising fuel prices, Sandiaga Uno...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
4,visited the kutat gas station after the increa...,"{'neg': 0.0, 'neu': 0.777, 'pos': 0.223, 'comp..."
...,...,...
4415,BBM nmarketplace can't burn courier money but ...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
4416,BBM is already full of school children,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
4417,fuel fair rates,"{'neg': 0.0, 'neu': 0.465, 'pos': 0.535, 'comp..."
4418,"the brain is frozen, the heart is punctured, t...","{'neg': 0.057, 'neu': 0.857, 'pos': 0.086, 'co..."
4419,"the minister of fuel prices, following the mar...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."

In [4]:
#penjumlahan skor 
df['compound']  = df['scores'].apply(lambda score_dict: score_dict['compound'])

df.head()

,text,scores,compound
0,"belonging to a motorbike, feeling the impact o...","{'neg': 0.0, 'neu': 0.861, 'pos': 0.139, 'comp...",0.4939
1,the support of economic indicators rises in fu...,"{'neg': 0.0, 'neu': 0.642, 'pos': 0.358, 'comp...",0.8625
2,the autobus business monitors the selling pric...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
3,"the impact of rising fuel prices, Sandiaga Uno...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
4,visited the kutat gas station after the increa...,"{'neg': 0.0, 'neu': 0.777, 'pos': 0.223, 'comp...",0.5106

In [5]:
#keterangan: untuk skor diatas 0.000 atau 0.001 bernilai positif (karena memiliki nilai positif), 
#untuk skor 0.000 bernilai netral (karena tidak memiliki nilai), 
#untuk skor -0.001 bernilai negatif (karena memiliki nilai minus)#


#pelabelan skor 
def condition(c):
    if c>=0.0001:
        return "positif"
    elif c==0.0000:
        return "neutral"
    else:
        return 'negatif'

df['sentimen'] = df['compound'].apply(condition)
 
df.head()

,text,scores,compound,sentimen
0,"belonging to a motorbike, feeling the impact o...","{'neg': 0.0, 'neu': 0.861, 'pos': 0.139, 'comp...",0.4939,positif
1,the support of economic indicators rises in fu...,"{'neg': 0.0, 'neu': 0.642, 'pos': 0.358, 'comp...",0.8625,positif
2,the autobus business monitors the selling pric...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,neutral
3,"the impact of rising fuel prices, Sandiaga Uno...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,neutral
4,visited the kutat gas station after the increa...,"{'neg': 0.0, 'neu': 0.777, 'pos': 0.223, 'comp...",0.5106,positif

In [6]:
#save to csv
df.to_csv('hasi_text_labelin.csv',encoding='utf8', index=False)